.container-what-is-final {
  height: 100vh;
  background: url('../../../../../assets/img/bkg-branco-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-secondary);
}

.container-what-is-final > h1 {
  padding-top: 10rem;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
}

.container-what-is-final > p {
  margin-top: 4rem;
  padding-right: 6rem;
  padding-left: 6rem;
  font-size: 2.8rem;
}

.container-what-is-final > Navbar {
  z-index: -1;
}