.container-home {
  background       : url('../../../../assets/img/bkg-home-1920.png');
  background-repeat: no-repeat;
  background-size  : cover;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

.container-home > main {
  width: 50vw;
  margin: 2rem;
  padding-top: 18rem;
  text-align: center;
}

.container-home > main > article {
  display: flex;
  padding: 0 4rem 0 4rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-home > main > article > p {
  font-size: 3rem;
}

.container-home > main > article > .button {
  color: #fff;
  font-size: 2.4rem;
  background-color: #29aee5;
  border-radius   : 3.6rem;
  width           : 18rem;
  height          : 6rem;
  padding-top: 1rem;
  margin-top: 1rem;
  text-decoration : none;
  text-align: center;
  transition      : background-color .3s;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.container-home > main > article > .button:hover {
  background-color: #1c7499;
}

@media (max-width: 1440px) {
  .container-home {
    background       : url('../../../../assets/img/bkg-home-1440.png');
    background-repeat: no-repeat;
  background-size  : cover;
  }
}

@media (max-width: 1024px) {
  .container-home {
    background       : url('../../../../assets/img/bkg-home-1024.png');
    background-repeat: no-repeat;
  background-size  : cover;
  }
}
@media (max-width: 768px) {
  .container-home {
    background       : url('../../../../assets/img/bkg-home-768.png');
    background-repeat: no-repeat;
  background-size  : cover;
  }
}

@media (max-height: 820px) {
  .container-home {
    height: fit-content;
  }
}