.container-team {
  min-height: 100vh;
  height: fit-content;
  background: url('../../../../../assets/img/bkg-branco-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-team > .title {
  color: var(--font-secondary);
}

/* .container-team > .grid-team {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "card-1 card-2 card-3"
  "card-4 card-5 card-6";
  gap: 4rem 8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  color: #fff;
} */

.container-team > .grid-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-team > .grid-team > .container-lead {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas:  
  "card-1 card-2 card-3";
  gap: 2rem;
  margin: 4rem;
}

.container-team > .grid-team > .container-minions {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-areas:
  "card-4 card-5";
  gap: 2rem;
  margin: 4rem;
}

.zoras {
  color: #fff;
  grid-area: card-1;
}
.kobus {
  color: #fff;
  grid-area: card-2;
}
.nikita {
  color: #fff;
  grid-area: card-3;
}
.cryptocoders {
  text-align: center;
  grid-area: card-4;
}
.al3x {
  text-align: center;
  grid-area: card-5;
}

/* .grid-team {
  display: flex;
  justify-content: center;
} */

.container-team > .grid-team > .container-lead .card-lead {
  background: url('../../../../../assets/img/team-card1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 26rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.container-team > .grid-team > .container-lead > .card-lead > p,
.container-team > .grid-team > .container-lead > .card-lead > h2,
.container-team > .grid-team > .container-lead > .card-lead > h3 {
  text-align: center;
}

.container-team > .grid-team > .container-lead > .card-lead > h2 {
  padding: 2rem 0 2rem 0;
  font-size: 2.3rem;
}

.container-team > .grid-team > .container-lead > .card-lead > h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.container-team > .grid-team > .container-lead > .card-lead > p {
  padding: 2rem;
  font-size: 1.4rem;
}

.container-team > .grid-team > .container-lead > .card-lead > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin-bottom: 1rem;
}

.container-team > .grid-team > .container-lead > .card-minions > h2,
.container-team > .grid-team > .container-lead > .card-minions > p {
  text-align: center;
  color: var(--font-secondary);
}

.container-team > .grid-team > .container-lead > .card-minions > h2 {
  font-size: 2rem;
  font-weight: 500;
}

.container-team > .grid-team > .container-lead > .card-minions > p {
  font-size: 1.6rem;
  font-weight: 500;
}

.container-team > .grid-team > .container-lead > .card-minions {
  margin: auto;
}

@media (max-width: 1440px) {
  .container-team {
    background: url('../../../../../assets/img/bkg-branco-1440.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .container-team {
    background: url('../../../../../assets/img/bkg-branco-1024.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .container-team {
    background: url('../../../../../assets/img/bkg-branco-768.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  /* .container-team > .grid-team {
    grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr, 1fr, 1fr;
  gap: 2rem;
  } */

  .container-team > .grid-team > .container-minions {
    display: flex;
    flex-direction: column;
  }

  .container-team > .grid-team > .container-lead {
    display: flex;
    flex-direction: column;
  }

  .container-team > .grid-team > .container-lead > .card-lead {
    width: 36rem;
    height: 40rem;

  }
}

@media (max-width: 700px) {
  .container-team > .grid-team > .card-lead {
    width: 30rem;
    height: 38rem;

  }
}

@media (max-width: 650px) {
  .container-team > .grid-team {
    grid-template-columns: auto;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "card-1"
    "card-1"
    "card-1"
    "card-1"
    "card-1"
    "card-1";
    gap: 2rem;
  }

  .container-team > .grid-team > .card-lead {
    width: 52rem;
    height: 40rem;

  }

  .container-team > .grid-team > .card-lead > img {
    width: 16rem;
  height: 16rem;
  }
}

@media (max-height: 820px) {
  .container-team {
    height: fit-content;
  }
}