.container-team {
  height: 100vh;
  background: url('../../../../../assets/img/bkg-branco-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "card-1 card-2 card-3"
  "card-4 card-5 card-6";
  gap: 8rem;
  width: 50%;
  margin: auto;
}

.grid-team > .card-1,
.grid-team > .card-2,
.grid-team > .card-3 {
  background: url('../../../../../assets/img/team-card1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 26rem;
  height: 38rem;
}

.grid-team > .card-1 > img,
.grid-team > .card-2 > img,
.grid-team > .card-3 > img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin-bottom: 2rem;
}

.grid-team > .card-1 > h2,
.grid-team > .card-2 > h2,
.grid-team > .card-3 > h2 {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.grid-team > .card-1 > h3,
.grid-team > .card-2 > h3,
.grid-team > .card-3 > h3 {
  padding-bottom: 2rem;
}

.grid-team > .card-4 > img,
.grid-team > .card-5 > img,
.grid-team > .card-6 > img {
  width: 20rem;
  height: 17rem;
}

.grid-team > .card-4 > h2,
.grid-team > .card-5 > h2,
.grid-team > .card-6 > h2 {
  color: var(--font-secondary);
  padding-top: 1rem;
  font-weight: 500;
}

.grid-team > .card-4 > p,
.grid-team > .card-5 > p,
.grid-team > .card-6 > p {
  color: var(--font-secondary);
  font-size: 1.5rem;
}

.grid-team > .card-1 {
  grid-area: "card-1";
}
.grid-team > .card-2 {
  grid-area: "card-2";
}
.grid-team > .card-3 {
  grid-area: "card-3";
}
.grid-team > .card-4 {
  grid-area: "card-4";
}
.grid-team > .card-5 {
  grid-area: "card-5";
}
.grid-team > .card-6 {
  grid-area: "card-6";
}

.grid-team > .card {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.container-team > h1,
.container-team > p {
  color: var(--font-secondary);
}

.container-team > h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.container-team > p {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 4rem;
}