.container-roadmap {
  height: 100vh;
  background: url('../../../../../assets/img/bkg-branco-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-roadmap > h1,
.container-roadmap > p {
  color: var(--font-secondary);
}

.container-roadmap > h1 {
  padding-top: 6rem;
  font-size: 8rem;
  text-align: center;
}

.container-roadmap > p {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

.container-roadmap > .row > .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0a74cb7e;
  width: 404px;
  height: 158px;
  padding: 2rem;
  border-radius: 40px 10px 40px 10px;
  font-size: 1.4rem;
  text-align: center;
}

.container-roadmap > .row > .card > h2 {
  margin-bottom: 2rem;
}
.container-roadmap > .row-1 > .card > h2 {
  margin-bottom: 2rem;
}

.container-roadmap > .row > .circle {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #282828;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-roadmap > .row-1 > .spacer {
  display: block;
  width: 14rem;
}

.container-roadmap > .row-1 {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.container-roadmap > .row-1 > .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0a74cb7e;
  width: 404px;
  height: 158px;
  border-radius: 40px 10px 40px 10px;
  margin: 0 32px 0 32px;
  padding: 2rem;
  font-size: 1.4rem;
  text-align: center;
}
  
.container-roadmap > .row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}