.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  background: linear-gradient(180deg, rgba(8, 135, 212, 1) 0%, rgba(8, 135, 212, .5) 100%);
  z-index: 50;
  font-size: 2rem;
}