.container-wallet {
  height: 100vh;
  background: url('../../../../../assets/img/bkg-branco-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-secondary);
  font-size: 2rem;
  text-align: center;
}

.container-wallet > h1 {
  font-size: 8rem;
  padding-bottom: 1rem;
}

.container-wallet > h2 {
  padding-top: 4rem;
}

.container-wallet > p {
  font-size: 3rem;
  padding-bottom: 4rem;
}

.grid-wallet {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "card-1 card-2"
  "card-3 card-4";
  width: fit-content;
  margin: auto;
  gap: 3rem 1rem;
}

.grid-wallet > a {
  display: flex;
  flex-direction: column;  
  text-decoration: none;
}

.grid-wallet > a > h2 {
  color: var(--font-secondary);
  padding-top: 2rem;
}

.grid-wallet > .card-1 {
  grid-area: "card-1";
}
.grid-wallet > .card-2 {
  grid-area: "card-2";
}
.grid-wallet > .card-3 {
  grid-area: "card-3";
}
.grid-wallet > .card-4 {
  grid-area: "card-4";
}

.grid-wallet > a > .card {
  background-color: #0a74cb7a;
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

