.container-social-media {
  background: url('../../../../../assets/img/bkg-cinza-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--font-primary);
}

.container-social-media > .subtitle {
  margin-top: 2rem;
  text-align: center;
  display: block;
}

.container-carousel {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media (max-width: 1440px) {
  .container-social-media {
    background: url('../../../../../assets/img/bkg-cinza-1440.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .container-social-media {
    background: url('../../../../../assets/img/bkg-cinza-1024.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .container-social-media {
    background: url('../../../../../assets/img/bkg-cinza-768.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .container-carousel {
    width: 68%;
  }
}

@media (max-width: 425px) {
  .container-carousel {
    width: 100%;
  }
}

@media (max-height: 820px) {
  .container-social-media {
    height: fit-content;
  }
}