.container-social-media {
  height: 100vh;
  background: url('../../../../../assets/img/bkg-cinza-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-social-media > h1,
.container-social-media > p {
  color: var(--font-primary);
}

.container-social-media > h1 {
  padding-top: 10rem;
  font-size: 8rem;
  text-align: center;
}
.container-social-media > p {
  margin-top: 1rem;
  font-size: 2.6rem;
  text-align: center;
}

.container-social-media > .container-carousel {
  padding-top: 8rem;
  transition: all .3s
}
