@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

:root {
  --font-primary: #fff;
  --font-secondary: #282828;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: var(--font-primary);
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  /* overflow-x: hidden; */
}

h1 {
  font-size: 8rem;
}

p {
  font-size: 2.6rem;
}

.fixed-bar-mobile {
  display: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 14rem 0 2rem 0;
}

.title h1 {
  font-size: 6rem;
}

.title p {
  font-size: 3rem;
}

@media (max-width: 1440px) {
  html{
    font-size: 53%;
  }
}

@media (max-width: 1024px) {
  html{
    font-size: 45%;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 38%;
  }

  .fixed-bar-mobile {
    display: inline-block;
  }

  .title {
    padding-top: 8rem;
  }

  .fixed-bar {
    display: none;
  }
}

@media (max-width: 425px) {
  html{
    font-size: 32%;
  }
  .title {
    padding-top: 6rem;
  }
}

@media (max-width: 320px) {
  html{
    font-size: 27%;
  }

  .title {
    padding-top: 4rem;
  }
}

@media (max-height: 820px) {
  .title {
    padding-top: 1rem;
  }

  /* .container-what-is-final {
    height: fit-content;
  }
  .container-coinspecs,
  .container-roadmap,
  .container-social-media,
  .container-team,
  .container-contact,
  .container-credit-card,
  .container-wallet,
  .container-home,
  .container-partners {
    height:fit-content;
  } */
}

@media (max-height: 640px) {
  .title {
    display: none;
  }
}
