.container-coinspecs {
  min-height: 100vh;
  height: fit-content;
  background: url('../../../../../assets/img/bkg-cinza-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-coinspecs {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "card-1 card-1 card-2 card-3"
  "card-4 card-5 card-6 card-6";
  width: 90%;
  gap: 1.6rem;
  margin: auto;
  padding: 4rem;
}

.grid-coinspecs > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a74cb7a;
  height: 24rem; 
}

.grid-coinspecs > .card > h2,
.grid-coinspecs > .card > h3,
.grid-coinspecs > .card > img {
  padding: 0.4rem;
}

.grid-coinspecs > .card-1 {
  grid-area: card-1;
}
.grid-coinspecs > .card-2 {
  grid-area: card-2;
}
.grid-coinspecs > .card-3 {
  grid-area: card-3;
}
.grid-coinspecs > .card-4 {
  grid-area: card-4;
}
.grid-coinspecs > .card-5 {
  grid-area: card-5;
}
.grid-coinspecs > .card-6 {
  grid-area: card-6;
}

@media (max-width: 1440px) {
  .container-coinspecs {
    background: url('../../../../../assets/img/bkg-cinza-1440.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .container-coinspecs {
    background: url('../../../../../assets/img/bkg-cinza-1024.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .container-coinspecs {
    background: url('../../../../../assets/img/bkg-cinza-768.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid-coinspecs > .card > img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 425px) {
  .grid-coinspecs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5"
    "card-6";
    gap: .8rem;
    margin: auto;
  }

  .grid-coinspecs > .card {
    height: 20rem; 
  }
}

@media (max-width: 375px) {
  .grid-coinspecs > .card {
    height: 18rem; 
  }
}

@media (max-height: 820px) {
  .container-coinspecs {
    height: fit-content;
  }
}
