.container-partners {
  background: url('../../../../assets/img/bkg-cinza-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
}

.container-partners > h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 10rem;
}

.container-partners > p {
  font-size: 2rem;
  text-align: center;
}

.container-partners > .partners {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container-partners > .partners > .partners-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-partners > .partners > .partners-cards > h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.container-partners > .partners > .partners-cards > .imgs {
  display: flex;
  justify-content: space-around;
}

.container-partners > .partners > .partners-cards > .imgs > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 2rem;
  width: 30rem;
  height: 14rem;
  border-radius: 1rem;
}

@media (max-width: 1440px) {
  .container-partners {
    background: url('../../../../assets/img/bkg-cinza-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  }
}
@media (max-width: 1024px) {
  .container-partners {
    background: url('../../../../assets/img/bkg-cinza-1024.png');
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container-partners img {
    width: 26rem;
    height: 8rem;
  }

  .partners {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3";
  }
}

@media (max-width: 768px) {
  .container-partners {
    background: url('../../../../assets/img/bkg-cinza-768.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-height: 820px) {
  .container-partners {
    height: fit-content;
  }
}
